<% title current_tenant.name %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div class="row csw-item-rows users">
      <% @users.each do |user| %>
    		<%= render "users/user", user: user, display_email: false %>
    	<% end %>
    </div>
	</div>
</div>