<% title "Not Kris Kringle" %>

<div class="container">
  <div class="row">
	  <div class="col-sm-12 center">
      <h1><%= current_tenant.name %></h1>
      <ul class="users">
      	<% @users.each do |user| %>
      		<%= render "users/user", user: user, display_email: false %>
      	<% end %>
      </ul>
  	</div>
 	</div>
</div>