<p>Blog Secret Santa has drawn names from the virtual hat.</p>
<p>You've drawn <strong><%= link_to @receiver.name, @receiver.url %></strong>.</p>
<p>The next step is to write them a short piece they can post on their blog. Once you've done that log back in to <%= link_to "Blog Secret Santa", root_url %> and add your content.</p>
<p>Someone has drawn your name. You'll receive their anonymous content gift on Christmas Day</p>