<p>
	Dear <%= @user.first_name %>,
</p>
<p>
	<strong>Merry Christmas!</strong>
</p>
<p>
	I've just been delivering all the Secret Santa gift posts to children all around the world, and there's been a terrible glitch in the system.
</p>
<p>
	It seems that your anonymous author has been suffering from writer's block. I'm really sorry about that. Deadlines - am I right??
</p>
<p>
	I'm getting in touch with the last few straggling authors, so hopefully I'll have something for you soon.
</p>
<p>
	In the meantime, I hope your Christmas Day offline in the real world makes up for this rather sad email.
</p>
<p>
	Merry Christmas (again),
</p>
<p>
	Santa.
</p>