<p>Hi <%= @user.first_name %>,</p>

<p><%= @receiver.name %> has published your gift post. Thank you so much!</p>

<p>See your post on the group's blog roll at <%= link_to group_content_index_url(@group), group_content_index_url(@group) %>. Don't forget to share with your followers.</p>


<p>Merry Christmas!</p>

<p>Blog Secret Santa</p>