<p class="lead">
	Dear <%= @user.first_name %>,
</p>
<p class="lead">
	Can you believe it's only one week till Christmas? In 7 days I'm going to deliver your brand new blog post, lovingly written by a wonderful stranger, straight to your inbox.
</p>
<p>
	The first two weeks of writing time have been great fun. I've loved reading the tweets from people as they get into the giving, blogging spirit of things.
</p>
<p>
	There are only 7 days left to get your Blog Secret Santa post written and submitted to <a href="http://secretsanta.csworkflow.com">secretsanta.csworkflow.com</a>. Just in case you didn't have enough to do this week.
</p>
<h4>Haven't started yet?</h4>
<p>
	Have a read of my <a href="http://secretsanta.csworkflow.com/tips">tips and topic ideas</a> to nudge you along.
</p>
<h4>Already written your post?</h4>
<p>
	If you've already logged in and saved your post, thanks!
</p>
<p>
	There's still time to log back in and add that one last piece of inspiration that hit you overnight. You can edit your post as much as you want before I deliver it.
</p>
<h4>Have a Merry Christmas!</h4>
<p>
	Everyone, seriously, have a great Christmas. You're 50 of the finest humans on the planet.
</p>
<p>
	Love,
</p>
<p>
	Santa.
</p>
<br><br>