<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= @subject %></title>
	
<link rel="stylesheet" type="text/css" href="/assets/email.css"> 

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#444">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table>
					<tr>
						<td><h4>Blog Secret Santa</h4></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi <%= @user.name %></h3>
						<p class="lead">Thanks for joining Blog Secret Santa! This Christmas content strategists all over the world are going to gift each other blog posts, and it's great that you're a part of it.</p>
						<!-- Callout Panel -->
				<p class="lead">
	I'll be tweeting updates all along, so follow <%= link_to "@blogsecretsanta", "http://twitter.com/blogsecretsanta", target: "_blank" %> to stay in touch.
</p>
<p>
	<strong>What happens next?</strong>
</p>
<p>
	Registrations will be open until December 4th. Spread the word (and the Christmas cheer) before then!
</p>
<p>
	Once registrations close, you'll get an email letting you know whose blog you're gifting a post to (but shh, it's a secret). That gives everyone 3 weeks to write their gift.
</p>
<p>
	On Christmas morning (GMT) I'll send you your gift post to publish. Tweet me once it's up and I'll let everyone know.
</p>
<p>
	Thanks again for joining in. You'll hear from me again on December 4th.
</p>
<p>
	Bye for now,
</p>
<p>
	Blog Secret Santa.
</p>
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Connect with Us:</h5>
												<p class="">
													<a href="http://twitter.com/blogsecretsanta" target="_blank", class="soc-btn tw">Twitter</a>
												</p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info:</h5>												
                				<strong><a href="mailto:secretsanta@csworkflow.com">secretsanta@csworkflow.com</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

</body>
</html>