<p>Hi everyone, </p>
<p>Now that Christmas is little more than a distant, fading memory, let me say a great big <strong>THANK YOU</strong> to all of you for playing Blog Secret Santa. The Elves and I had a great time, and it's fair to say that there are some pretty great gift posts out there now. It feels good to give!</p>
<p>So, now what? First of all: <strong>We'll be back for Christmas 2014</strong>. We have a sackful of ideas to make it bigger and better next time. If you want to suggest something or help out, drop me an email or a tweet.</p>
<p>Registrations will be open all year on <a href="http://secretsanta.csworkflow.com">secretsanta.csworkflow.com</a>, so spread the word. We'll get loud about it again at the end of the year. I hope you'll all be back for another round.</p>
<p>Since you played in 2013, I've kept you on my list of Good Children. (You can see everyone here: <a href="http://secretsanta.csworkflow.com/users">http://secretsanta.csworkflow.com/users</a>). This doesn't mean that you're 100% committed to playing in 2014; you can change your availability, or remove yourself entirely, by editing your profile.</p>
<p><strong>Have you read all the gift posts yet?</strong></p>
<p>I have a list of gift posts at <a href="http://secretsanta.csworkflow.com/draws/2013/gifts">secretsanta.csworkflow.com/draws/2013/gifts</a>. Right now there are 36 gifts there, which means some are still missing.</p>
<p>If you've published a gift that isn't on this list, log in and "update your gift". Paste in the post's URL and it will automatically appear on the blog roll.</p>
<p>Spotted a missing post? Let me know.</p>
<p><strong>Still waiting for your gift post?</strong></p>
<p>4 of you missed out on receiving anything, which makes Santa sad. Hold on, though - we have elves working on the situation right now.</p>
<p>Thanks again everybody, and have a great year. You'll hear from me again when we're ready for Christmas 2014. I can't wait!</p>
<p>Love,</p>
<p>Santa.</p>
<p>&nbsp;</p>