<p>
	Hi <%= @user.first_name %>,
</p>
<p>
	Thanks for joining Blog Secret Santa! This Christmas bloggers all over the world are going to gift each other blog posts, and it's great that you're a part of it.
</p>
<p>
	I'll be tweeting updates all along, so follow <a href="http://twitter.com/blogsecretsanta" target="_blank">@blogsecretsanta</a> to stay in touch.
</p>
<p>
	 <strong>What happens next?</strong>
</p>
<p>
	Registrations will be open until December 4th. Spread the word (and the Christmas cheer) before then!
</p>
<p>
	Once registrations close, you'll get an email letting you know whose blog you're gifting a post to (but shh, it's a secret). That gives everyone 3 weeks to write their gift.
</p>
<p>
	On Christmas morning (GMT) I'll send you your gift post to publish. We'll put up a list of posts as they appear online, so you can see all the gifts and goodness.
</p>
<p>
	Thanks again for joining in. You'll hear from me again on December 4th.
</p>
<p>
	Merry Christmas,
</p>
<p>
	Blog Secret Santa.
</p>