<h3>Your match is <strong><%= link_to match.name, match.blog, target: "_blank" %></strong></h3>
<%= link_to "Work on your content gift", new_group_content_path(group), class: "csw-button" %> <p>You can save your work and come back any time.</p>
