<li>
	<%= gravatar_for(user) %>
	<div class="user-name"><%= link_to user.name, user.blog, target: "_blank" %></div>
	<div class="user-location"><span class="glyphicon glyphicon-map-marker"></span><%= user.location %></div>
</li>