<% title "Enter email address" %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= yield :heading %></h1>
			<p>Enter your email address so you can be sent updates for the secret santa</p>
			<%= form_for @user, url: set_email_user_path(@user) do |f| %>
				<fieldset>
					<div class="form-group input-group">
						<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
						<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
					</div>
					<div class="form-group">
						<%= f.submit "Save", class: "btn btn-success" %>
					</div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>