<% title "Santa's list of good children" %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content center">
				<h1><%= yield :heading %></h1>
			</div>
			<ul class="users col-sm-4">
	      <% @users.each do |user| %>
	      	<%= render "users/user", user: user, display_email: false %>
	      <% end %>
      </ul>
		</div>
	</div>
</div>