<% title "Not Kris Kringle" %>

<div class="container">
  <div class="row">
	  <div class="col-sm-12 center">
	  	<%= CountdownPresenter.new(@draw, self).render_countdown %>
	  	<% if !signed_in? %>
        <%= link_to "/auth/twitter", class: "btn btn-default btn-lg twitter-login" do %>
          <i class="fa fa-twitter"></i> Log in with Twitter
        <% end %>
      <% else %>
      	<h3>In the draw</h3>
      	<ul class="users col-sm-4">
	      	<% @users.each do |user| %>
	      		<%= render "users/user", user: user %>
	      	<% end %>
      	</ul>	
    	<% end %>
  	</div>
 	</div>
</div>