<% title "How it works" %>

<div class="container">
  <div class="content narrow">
	  	<h1><%= yield :heading %></h1>
			<h2> Sign up today</h2>
			<p>
				  You log in with your Twitter details, so Santa knows who you are. Yes, you're already on his global master-list - the S in "NSA" stands for Santa - but he needs a little help cutting it down to just content strategy bloggers. Santa sometimes struggles with data quality.
			</p>
			<h2> Blogging starts on December 4th </h2>
			<p>
				   3 weeks before Christmas, on December 4th (GMT, because Santa loves his international standards), Santa makes the draw to decide who you're writing your gift post for. You'll get an email, or you can log back into secretsanta.csworkflow.com for details.
			</p>
			<p>
				   Then Santa sits back and has a beer while content strategists all over the world write nice blog posts for each other. (This is what was once known as a "Christmas miracle".)
			</p>
			<p>
				   Don't worry about the length of your gift post. If Santa cared about word limits, his catch phrase would just be "Ho!"
			</p>
			<h2> Posts are due by Christmas Eve </h2>
			<p>
				  To avoid last-minute relegation to Santa's Naughty List, you need to submit your gift post to secretsanta.csworkflow.com by Christmas Eve.
			</p>
			<h2> Santa delivers gift posts on Christmas Day </h2>
			<p>
				   At midnight on Christmas Day, Santa will drop your anonymously-authored gift post down the chimney of your inbox. As is traditional.
			</p>
			<p>
				   On Christmas morning it's up to you to publish your brand new post to your blog. Once that's done, take a short run around the neighbourhood, offering heart-felt blessings to the youngsters playing in the snow. They'll all be playing with their new presents, none of which will be as good as the blog post that you got from Blog Secret Santa.
			</p>

			<h2>Contributing</h2>
			<p>
				If you are a developer or designer and want to help build Blog Secret Santa, you can by heading over to <%= link_to "Github", "https://github.com/bchadfield/blog-secret-santa", target: "_blank" %>.
			</p>
	</div>
</div>