<% title "Home" %>

<div class="container">
  <div class="content narrow">
	  <h1><%= yield :heading %></h1>
	  <p><%= link_to "TWITTER LOGIN", "/auth/twitter" %></p>
	  <p><%= link_to "FACEBOOK LOGIN", "/auth/facebook" %></p>
	</div>
</div>
