<% title "Santa's tips" %>

<div class="csw-main-wrapper csw-grid">
  <div class="csw-col-1-2 csw-col-center">
	  <h1><%= yield :heading %></h1>
	  <p>
	  It's writing time! Writing a post for a blog you've never written for (or maybe even seen) before isn't always easy, though, so here are a few things that might help.
</p>
<h2>Get to know the person you're writing for</h2>
<p>
	  Have a dig into the life and times of your gift recipient. The more you know about them, the easier it will be to write something that they'll love. You'll already have a link to their blog URL (if I know it) or to their Twitter profile, so you're part-way there. Google them, and see what's on LinkedIn, about.me, or maybe even Lanyrd. The age of privacy is OVER!
</p>
<h3>On a related note, make sure your writer can find your blog</h3>
<p>
	  If you haven't already told me your blog's URL , you can add it to your profile. Once you're logged into the Secret Santa site, access your profile through your picture in the top right-hand corner.
</p>
<p>
	  Once you've done that, your writer will have an easy way of seeing what they're adding to.
</p>
<h2>Only got half a idea so far? Save work to come back to</h2>
<p>
	  The way you submit your post to me is really simple. When you click the "Work on your content gift" you'll see a WYSIWYG editor. Ok, I know what a lot of people say about this sort of thing, so there's a little button (labelled <strong>&lt;/&gt;</strong>) that lets you write straight HTML if you want to.
</p>
<p>
	  Anyway, you can log in as many times as you like, so if you want to save and come back, that's fine by me. Whatever you have saved when midnight rolls around on Christmas Eve (GMT) is what I'll wrap up and send on as your gift.
</p>
<h2>Not sure what to write about?</h2>
<p>
	  If you're struggling for inspiration, here are a few questions to get you started:
</p>
<ul>
	<li>What's the most useful thing you learned this year?</li>
	<li>Who would you nominate as 2013's content strategist of the year? Why? What prize would you give them?</li>
	<li>What site or organisation do you think has the best content strategy? (Or, if you're feeling mean, the worst?)</li>
	<li>What's one thing that would make 2014 the Best Year Ever? If you could do or learn anything by this time next year, what would it be?</li>
	<li>Will content strategists ever stop saying mean things about WYSIWYG content editors?</li>
	<li>If you met your gift recipient in real life, what's the first thing you'd say to them?</li>
	<li>What about responding to a post your recipient wrote this year? Has reading their blog get you thinking about something new?</li>
	<li>Got any new year's resolutions? Why not?</li>
	<li>Or you could just talk about me. How awesome is Blog Secret Santa? Yeah!</li>
</ul>
<h3>Or take advantage of your anonymity</h3>
<p>
	 Since your readers aren't  going to know who wrote your blog post, maybe this is your chance to say something wild, or even make a confession.
</p>
<ul>
	<li>What do content strategists need to stop doing?</li>
	<li>What's the one thing that everyone else seems to understand but you just don't get?</li>
	<li>What's the stupidest idea you heard all year?</li>
	<li>What's the stupidest idea you had all year?</li>
</ul>
	</div>
</div>