<div class="col-xs-12 col-sm-4 col-lg-3">
	<h3><%= link_to pool.name, edit_pool_path(pool) %></h3>
	<p>
		<strong>Users:</strong> <%= pool.users.length %><br />
		<strong>Elves:</strong><br />
		<% pool.users.elf.each do |elf| %>
			<%= link_to elf.name, elf %>
		<% end %>
	</p>
</div>