<% title "List of pools" %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<h1><%= yield :heading %></h1>
				<%= link_to "New pool", new_pool_path, class: "btn btn-default" %>
			</div>
		</div>
	</div>
	<div class="row">
    <% @pools.each do |pool| %>
    	<%= render "pool", pool: pool %>
    <% end %>
  </div>
</div>