<p>
	Heeeeeeello-ho-ho again!
</p>
<p>
	Yes, it's me, Blog Secret Santa, all woken up from a years' hibernation and dusting off my list of good children. Merry November!
</p>
<p>
	Can you believe it's been 11 months since we kicked off Blog Secret Santa last year? The giving (and, let's be honest, the receiving) warmed a lot of hearts. Don't you wish we could do it all again?
</p>
<p>
	Good, because <%= link_to "Registrations are open for Blog Secret Santa #{Time.now.strftime('%Y')}!", signup_url %>
</p>
<p>
	We're back with a new website (<a href="http://blogsecretsanta.com" target="_blank">blogsecretsanta.com</a>), the same old Twitter handle (<a href="http://twitter.com/blogsecretsanta" target="_blank">@blogsecretsanta</a>) and a few tweaks to make the game even better this year.
</p>
<p><br /></p>
<h3>
	New this year: Groups for different blog topics
</h3>
<p>
	Last year everyone who registered joined a single Blog Secret Santa game. Originally we thought that word wouldn't really get out past the content strategy world, but there was a bit of interest from a few other disciplines as well.<br />
</p>
<p>
	We figure that you want to write a gift for (and receive one from) someone whose blog is a little bit like yours.
</p>
<p>
	 So this year there are different groups for different blogging communities. We're <%= link_to "looking for people to help us run new groups", run_group_url %>, so if you know anyone who you think would want to play, no matter what they blog about, spread the word.
</p>
<p><br /></p>
<h3>
	But mostly, it's the same heart-warming fun
</h3>
<p>
	Just like last year, we'll match you to a gift recipient 20 days before Christmas, collect gift blog posts any time from then, and hand them out on Christmas Day. You'll get a gift post to publish, and see your post appear on someone else's blog.
</p>
<p>
	And, yes, it's a secret. We never let on who's written what.
</p>
<p><br /></p>
<h3>
	So, get back in there!
</h3>
<p>
	Keep your name on my list of good children and <%= link_to "register", signup_url %>. It's going to be great.
</p>
<p>
	 <%= link_to "Did we put in a registration link yet?", signup_url %>
</p>
<p>
	Merry Christmas,<br />
	Santa
</p>