.markdown-editor {}
.mde-left-pane,
.mde-right-pane { 
	float: left; 
	width: 50%; 
	height: 100%; 
}

.mde-content-wrapper { 
	position: relative; 
	padding: 2rem 3rem; 
	height: 100%; 
}

.mde-right-pane .mde-content-wrapper { 
	border-left: 1px solid #f3f3f4; 
}

.mde-editor {
	display: block;
	height: 100%;
	width: 100%;
	resize: none;
	font-size: 0.875rem;

	margin: 0;
	padding: 0;
	border: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.mde-editor:focus {
	outline: none;
}

.mde-preview,
.mde-html {
	height: 100%;
	font-size: 0.875rem;
}

.mde-html { 
	font-size: 1rem;
	word-wrap: break-word;
}

.mde-markdown-reference pre { 
	background: #f3f3f4;
	padding: 1rem;
	width: 100%;
	overflow: scroll;
}