.navbar { border-radius: 0; }
.navbar .user img { width: 24px; height: 24px; margin-top: -5px; }
i { width: 16px; text-align: center; }
.center { text-align: center; }
.twitter-login { }
.twitter-login i.fa-twitter { color: #00aced; }
#countdown { font-size: 1.25em; font-weight: 300; }
#countdown .clock { font-size: 1.5em; }
#until-text { font-size: 1.5em; font-weight: 500; margin-bottom: 50px; }