<div class="small-12 medium-6 large-4 columns">
	<h3><%= link_to group.name, group %></h3>
	<p>
		<strong>Users:</strong> <%= group.users.length %><br />
		<strong>Elves:</strong><br />
		<% group.users.elf.each do |elf| %>
			<%= link_to elf.name, elf %>
		<% end %>
	</p>
</div>