<% title "Edit #{@group.name}" %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
		<%= render "form", group: @group %>

		<h2>Elves</h2>
		<% @group.users.elf.each do |elf| %>
			<%= render "santa/users/elf", group: @group, elf: elf %>
		<% end %>
		<%= link_to "Add elf", assign_santa_group_users_path(group_id: @group), class: "csw-button" %>
	</div>
</div>