													<div class='csw-modal-body'>
														<p>Don't worry, you can still send your gift when you're ready. Simple write it or import it and then click the "Send gift" link (top left). I'll deliver it immediately to <%= current_user.receiver.name %>.</p>
													</div>
													<div class="csw-modal-footer">
													  <a href="#" class="csw-button csw-plain-button" data-dismiss="modal" aria-hidden="true">Close</a>
													</div>