 <% title "#{@group.name} 2014 blogroll" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="content narrow">
        <h1><%= yield :heading %></h1>
        <% if @group.gifted? %>
          <p>Check back regularly to see new posts!</p>
        <% else %>
          <p>Thanks to everyone who wrote these gift posts!</p>
        <% end %>
        <% if @content.present? %>
          <ul class="all_content">
            <% @content.each do |content| %>
              <%= render "content_published", content: content %>
            <% end %>
          </ul>
        <% else %>
          <p>Check back soon.</p>
        <% end %>
      </div>
    </div>     
  </div>
</div>
