<div class="footer center">
Built by <%= link_to "Ben Chadfield", "https://twitter.com/benchadfield", target: "_blank" %>. Fork this project on <%= link_to "Github", "https://github.com/bchadfield/blog-secret-santa", target: "_blank" %>
</div>