<div class="csw-modal fade" id="csw-modal-window">
  <div class="csw-modal-dialog">
    <div class="csw-modal-content">
      <div class="csw-modal-header">
        <a class="csw-close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h4 class="csw-modal-title">Loading...</h4>
      </div>
      <div class="csw-modal-main-wrapper"></div>
    </div>
  </div>
</div>